<div class="card md-4 shadow-sm" style="width: 90%; height: 95%">
    {% if object.image %}
        <a href={{ object.get_absolute_url }}>
            <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.title }}">
        </a>
    {% endif %}

    <div class="card-body">
        <h5 class="card-title"><a href={{ object.get_absolute_url }}>{{ object.title }}</a></h5>
        <small class="text-muted">{{ object.publish_date }}</small>
        <p class="card-text">{{ object.content|safe|linebreaks|truncatewords:20 }}</p>
    </div>
</div>